body {
  text-align: center;
  font-family: helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
li {
  margin: 0 0 10px 0;
}
h2#location {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}
header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
header a,
footer a {
  color: white;
  font-size: 18px;
}

footer {
  background: dimgray;
  color: white;
}
footer p{
  font-size: 11px;
  color: white;
}
header ul {
  list-style-type: none;;
}
footer {
  text-align: left;
}
