body {
  text-align: center;
}
header,
footer {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
header a,
footer a {
  color: white;
}
header ul {
  list-style-type: none;;
}
footer {
  text-align: left;
}
